<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/script.js}"></script>

    <title>Friendship management</title>
</head>
<body>
    <a th:href="@{/}" class="text-center"><h1>SocNet</h1></a>
    <h2 class="header col-md-12 text-center">Friendship management</h2>
    <input type="hidden" th:value="${isAdmin}" id="isAdmin">

    <h3 class="header text-center">Search</h3>
    <div class="container col-md-12 text-center">
        <div class="row">
        Name: <input type="text" id="jmenoInput" th:default="Name" oninput="jmenoChanged()"/>
        <input type="button" class="btn btn-default" id="searchButton" onclick="searchUsers()" th:value="search" disabled/>
        </div>
    </div>
    <div class="table col-md-12">
        <div id="usersList">
        </div>
    </div>

    <div class="container col-md-12 text-center">
        <div class="col-md-4">
    <h3>Friends</h3>
    <div class="row" id="friends">
        <div class="row" th:each="friendship: ${friends}" th:id="'friendship-' + ${friendship.getFriendshipId()}">
                <div class="col-md-6"  th:text="${friendship.friendName}" />
                <div class="col-md-6" th:id="'friendsButtons-' + ${friendship.getFriendId()}">
                    <input th:id="'adminAddButton-' + ${friendship.getFriendId()}" th:if="${isAdmin && !friendship.isAdmin()}" class="btn btn-default" th:onclick="'javascript:addAdmin(' + ${friendship.getFriendId()} + ')'" value="Add admin"/>
                    <input th:id="'adminRemoveButton-' + ${friendship.getFriendId()}" th:if="${isAdmin && friendship.isAdmin()}" class="btn btn-default" th:onclick="'javascript:removeAdmin(' + ${friendship.getFriendId()} + ')'" value="Remove admin"/>
                    <input type="button" class="btn btn-danger" th:onclick="'javascript:declineFriendship(' + ${friendship.getFriendshipId()} + ')'" value="Remove"/>
                </div>
        </div>
    </div></div>
        <div class="col-md-4">
    <h3>Pending requests</h3>
    <div class="table" id="pendingUsers">
        <div class="row" th:each="friendship: ${pendings}" th:id="'friendship-' + ${friendship.getFriendshipId()}">
                <div class="col-md-6" th:text="${friendship.friendName}" th:id="'friendship-name-' + ${friendship.getFriendshipId()}" />
                <div class="col-md-6">
                    <input type="button" class="btn btn-success" th:onclick="'javascript:acceptFriendship(' + ${friendship.getFriendshipId()} + ')'" value="Accept"/>
                    <input type="button" class="btn btn-default" th:onclick="'javascript:declineFriendship(' + ${friendship.getFriendshipId()} + ')'" value="Decline"/>
                    <input type="button" class="btn btn-danger" th:onclick="'javascript:blockFriendship(' + ${friendship.getFriendshipId()} + ')'" value="Block"/>
                </div>
        </div>
    </div>
        </div>
        <div class="col-md-4">
    <h3>Blocked users</h3>
    <div class="table" id="blockedUsers">
        <div class="row" th:each="friendship: ${blocked}" th:id="'friendship-' + ${friendship.getId()}">
                <div class="col-md-6" th:text="${friendship.friendName}" />
                <div class="col-md-6">
                    <input type="button" class="btn btn-default" th:onclick="'javascript:unblockFriendship(' + ${friendship.getId()} + ')'" value="Unblock"/>
                </div>
        </div>
    </div>
    </div>
    </div>
    <script>

        function jmenoChanged() {
            var jmenoElement = document.getElementById('jmenoInput');
            if (jmenoElement.value.length >= 3) {
                document.getElementById('searchButton').removeAttribute("disabled");
            } else {
                document.getElementById('searchButton').setAttribute("disabled", "true");
            }
        }

        function acceptFriendship(fId) {
            var friendName = document.getElementById("friendship-name-" + fId).innerHTML;
            var isAdmin = document.getElementById("isAdmin").value;
            $.post("api/friendship/accept", {friendId: fId}).done(
                function(data) {
                    document.getElementById("friendship-" + fId).remove();
                    document.getElementById("friends").innerHTML += "<div class=\"row\" id=\"friendship-" + fId + "\"><div class=\"col-md-6\">" + friendName + "</div><div class=\"col-md-6\" id=\"friendsButtons-" + data.friendId + "\"><input type=\"button\" class=\"btn btn-danger\" onclick='declineFriendship(" + fId + ")' value=\"Remove\"/></div></div>";
                    if ((isAdmin === 'true') && data.admin) {
                        document.getElementById("friendsButtons-" + data.friendId).innerHTML = "<input class=\"btn btn-default\" id=\"adminRemoveButton-" + data.friendId + "\" onclick='removeAdmin(" + data.friendId + ")' value=\"Remove admin\"/>" + document.getElementById("friendsButtons-" + data.friendId).innerHTML;
                    } else if ((isAdmin === 'true') && !data.admin) {
                        document.getElementById("friendsButtons-" + data.friendId).innerHTML = "<input class=\"btn btn-default\" id=\"adminAddButton-" + data.friendId + "\" onclick='addAdmin(" + data.friendId + ")' value=\"Add admin\"/>" + document.getElementById("friendsButtons-" + data.friendId).innerHTML;
                    }
                }
            )}

        function declineFriendship(fId) {
            $.post("api/friendship/decline", {friendId: fId}).done(
                function(data) {
                    document.getElementById("friendship-" + fId).remove();
                }
            )}


        function addAdmin(fId) {
            $.post("api/users/addAdmin", {userId: fId}).done(
                function(data) {
                    document.getElementById("adminAddButton-" + fId).remove();
                    document.getElementById("friendsButtons-" + fId).innerHTML = "<input class=\"btn btn-default\" id=\"adminRemoveButton\" onclick='removeAdmin(" + fId + ")' value=\"Remove admin\"/>" + document.getElementById("friendsButtons-" + fId).innerHTML;
                }
            )}
        function removeAdmin(fId) {
            $.post("api/users/removeAdmin", {userId: fId}).done(
                function(data) {
                    document.getElementById("adminRemoveButton-" + fId).remove();
                    document.getElementById("friendsButtons-" + fId).innerHTML = "<input class=\"btn btn-default\" id=\"adminAddButton\" onclick='addAdmin(" + fId + ")' value=\"Add admin\"/>"  + document.getElementById("friendsButtons-" + fId).innerHTML;
                }
            )}

        function blockFriendship(fId) {
            $.post("api/friendship/block", {friendId: fId}).done(
                function(data) {
                    document.getElementById("blockedUsers").innerHTML += "<div class=\"row\" id=\"friendship-" + data.id + "\"><div class=\"col-md-6\">" + document.getElementById("friendship-name-" + fId).innerHTML + "</div><div class=\"col-md-6\">" +
                        "                    <input type=\"button\" class=\"btn btn-default\" onclick='unblockFriendship(" + data.id + ")' value=\"Unblock\"/>" +
                        "                </div>";
                    document.getElementById("friendship-" + fId).remove();
                }
            )}

        function unblockFriendship(fId) {
            $.post("api/friendship/unblock", {friendId: fId}).done(
                function(data) {
                    document.getElementById("friendship-" + fId).remove();
                }
            )}
    </script>
</body>
</html>