<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Registration</title>
</head>
<body>
<div class="container">
    <a th:href="@{/}" class="text-center"><h1>SocNet</h1></a>
    <h2 class="header col-md-12 text-center">Wall</h2>
    <h3 class="header" th:text="'Hello ' + ${user.getName()}"></h3>
    <a th:href="@{/logout}" > Logout </a>
    <input type="hidden" id="userId" th:value="${user.getId()}">
    <input type="hidden" id="userName" th:value="${user.getName()}">

    <div>
        <textarea class="form-control" rows="4" cols="50" maxlength="4096" name="comment" id="postText">
Enter text here...</textarea>
        <input th:if="${isAdmin}" type="checkbox" id="announcement">
        <label th:if="${isAdmin}" for="announcement">Announcement</label>
        <input type="button" class="btn btn-block" onclick="sendPost()" th:value="Post">
    </div>

    <div class="container col-md-12">
        <div class="container col-md-3">
    <h2>Online Friends</h2>
    <div class="table" id="friends">
        <a href="/" th:href="@{/friendship}">Friendship managment</a>
        <table id="friends-list">
            <tr th:each="friend: ${friends}" th:id="'friend-' + ${friend.friendId}">
                <td th:text="${friend.friendName}" th:id="'friend-name-' + ${friend.friendId}"/>
                <td><input type="button" th:onclick="'openChat(' + ${friend.friendId} + ')'"  value="Chat"></td>
            </tr>
        </table>
    </div>
        </div>
        <div class="container col-md-9">
    <h2>Posts</h2>
            <div id="posts">
    <div class="container" th:each="post: ${posts}" th:id="'post-' + ${post.id}">
            <h4 th:text="${post.friendName}"></h4>
            <h5 th:text="${post.date}"></h5>
                <p th:text="${post.text}" class="block"></p>
    </div>
            </div>
        </div>
    </div>
</div>
<div id="chatPopups">
    <div class="chat-popup" th:each="friend: ${friends}" th:id="'chat-' + ${friend.friendId}" style="display: none">
        <div class="container-fluid">
            <h1>Chat</h1>
            <div class="chat-div" th:id="'chat-friend-' + ${friend.friendId}">
                <div th:each="message: ${friend.getMessages()}">
                    <b th:text="${message.senderName}"></b><p th:text="${message.text}"></p>
                </div>
            </div>
            <div class="row col-xs-12">
                <textarea th:id="'msg-' + ${friend.friendId}" placeholder="Type message.." name="msg" required></textarea>
            </div>
            <div class="row col-xs-12">
                <button type="button" class="btn" th:onclick="'sendMessage(' + ${friend.friendId} + ')'">Send</button>
                <button type="button" class="btn cancel" th:onclick="'closeChat(' + ${friend.friendId} + ')'">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script>
    var page = 1;
    var newPosts = 0;
    var allPostsLoaded = false
    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() > $(document).height() - 5 && !allPostsLoaded) {
            $.get("/api/post/", {page: page, offset: newPosts},
                function(data) {
                    if (data !== "") {
                        page++;
                        data.forEach(element => document.getElementById("posts").innerHTML += "<div class=\"container\" id=\"" + element.id + "\"><h4>" + element.friendName + "</h4><h5>" + element.date + "</h5><p>" + element.text.replaceAll("<"," ").replaceAll(">"," ") + "</p></div>");
                    } else {
                        allPostsLoaded = true;
                    }
                }
            );
        }
    });

    setInterval(function() {
        $.get(
            "/api/friendship/onlineFriends",
            function(data) {
                document.getElementById("friends-list").innerHTML = "";
                data.forEach(element => {
                    document.getElementById("friends-list").innerHTML += "<tr id='friend-" + element.id + "'><td id='friend-name-" + element.id + "'>" + element.name + "</td><td><input type=\"button\" onclick='openChat(" + element.id + ")' value='Chat'></td></tr>";
                })
            }
        );
    }, 10 * 1000);

    setInterval(function() {
        $.get(
            "/api/post/",
            function(data) {
                data.forEach(element => {
                    if (document.getElementById("post-" + element.id) == null) {
                        newPosts++;
                        document.getElementById("posts").innerHTML = "<div class=\"container\" id=\"post-" + element.id + "\"><h4>" + element.friendName + "</h4><h5>" + element.date + "</h5><p>" + element.text + "</p></div>" + document.getElementById("posts").innerHTML;
                    } else {
                        return false;
                    }
                });
            }
        );
    }, 30 * 1000);

    $(document).ready(function() {
        connect();
    });
    function sendPost() {
        var postText = document.getElementById("postText").value.replaceAll("<"," ").replaceAll(">"," ");
        var announcement = document.getElementById("announcement");
        var isAnnouncement = false
        if (announcement != null) {
            isAnnouncement = announcement.value;
        }

        $.post("api/post/", {post: postText, isAnnouncement: isAnnouncement}).done(
            function(data) {
                newPosts++;
                document.getElementById("posts").innerHTML = "<div class=\"container\" id=\"post-" + data.id + "\"><h4>" +  document.getElementById("userName").value + "</h4><h5>" + data.date + "</h5><p>" + data.text + "</p></div>" + document.getElementById("posts").innerHTML;
            }
        );
    }

    function sendMessage(id) {
        $.post("api/chat/", {message: document.getElementById("msg-" + id).value, userId: id}).done(
            function(data) {
                document.getElementById("chat-friend-" + id).innerHTML += "<div><b>" + document.getElementById("userName").value + "</b><p>" + document.getElementById("msg-" + id).value + "</p></div>";
            }
        );
    }

    function openChat(id) {
        document.getElementById("chat-" + id).style.display = "block";
        document.getElementById("friend-name-" + id).style.backgroundColor = "white";
    }

    function closeChat(id) {
        document.getElementById("chat-" + id).style.display = "none";
    }

    function connect() {
        var stompClient = null;
        var socket = new SockJS('/room');
        stompClient = Stomp.over(socket);
        var userId = document.getElementById("userId").value;
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/user/' + userId + '/friendlist/login/', function (response) {
                var friend = JSON.parse(response.body);
                console.log(friend);
                document.getElementById("friends-list").innerHTML += "<tr id='friend-" + friend.friendId + "'><td id='friend-name-"+ friend.friendId + "'>" + friend.friendName + "</td><td><input type=\"button\" onclick='openChat(" + friend.friendId + ")'  value='Chat'></td></tr>";

                if (document.getElementById("chat-" +friend.friendId) == null) {

                    var messages = "";
                    friend.messages.forEach(element => {
                            messages +=  "<div><b>" + element.senderName + "</b><p>" + element.text + "</p></div>";
                        }
                    );

                    document.getElementById("chatPopups").innerHTML += "                <div class=\"chat-popup\" id=\"chat-" + friend.friendId + "\">" +
                        "                    <div class=\"container-fluid\">" +
                        "                    <h1>Chat</h1>" +
                        "                    <div class=\"chat-div\" id='chat-friend-" + friend.friendId + "'>" + messages +
                        "</div>" +
                        "                        <div class=\"row col-xs-12\">" +
                        "                            <textarea id=\"msg-" + friend.friendId + "\" placeholder=\"Type message..\" name=\"msg\" required></textarea>\n" +
                        "                        </div>\n" +
                        "                        <div class=\"row col-xs-12\">\n" +
                        "                            <button type=\"button\" class=\"btn\" onclick='sendMessage(" + friend.friendId + ")'>Send</button>\n" +
                        "                            <button type=\"button\" class=\"btn cancel\" onclick='closeChat(" + friend.friendId + ")'>Close</button>\n" +
                        "                        </div>\n" +
                        "                    </div>\n" +
                        "                </div>"
                }
            });
            stompClient.subscribe('/user/' + userId + '/friendlist/logout/', function (response) {
                var user = JSON.parse(response.body);
                document.getElementById("friend-" + user.id).remove();
            });
            stompClient.subscribe('/user/' + userId + '/chat/', function (response) {
                var message = JSON.parse(response.body);
                var userName = document.getElementById("friend-name-" + message.userFrom).innerHTML;
                document.getElementById("chat-friend-" + message.userFrom).innerHTML += "<div><b>" + userName + "</b><p>" + message.text + "</p></div>";
                if (document.getElementById("chat-" +  message.userFrom).style.display === "none") {
                    document.getElementById("friend-name-" + message.userFrom).style.backgroundColor = "#78ab46";
                }
            });
            stompClient.subscribe('/user/logout/', function (response) {
                var userId = JSON.parse(response.body);
                document.getElementById("friend-" + userId).remove();
            });
        });
    }

</script>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }


    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

    /* Full-width textarea */
    .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 200px;
    }

    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the submit/send button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

    .chat-div {
        width: 250px;
        height: 110px;
        overflow: auto;
    }
</style>
</body>
</html>